.container {
	max-width: 400px;
	margin: 30px auto;
	overflow: auto;
	min-height: 400px;
	padding: 30px;
  background-color: black;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 5px rgb(44, 43, 43);
}
.buttons{
  display: grid;
  grid-template-areas: 
  "button button button button";
  padding:20px;
  margin-top: 20px;
  background-color: rgb(65, 64, 63);
  box-shadow: 2px 2px 2px 2px rgb(148, 144, 144);
  border-radius: 10px;

}

